# Run/Install requeriments
twisted >= 10.2.0
storm >= 0.19
zope.component
transaction
jinja2 >= 2.4
singledispatch >= 3.4.0.1

# Testing utils
doublex >= 1.5.1
PyHamcrest

# Documentation
sphinx >= 1.1.3
fabric
