{{ doctype }}
{{ html_element }}
<head>
    {% block head %}
    {{ header.content_type }}
    {{ header.generator_content }}
    {{ header.description_content }}
    {{ header.language_content }}
    {{ header.mamba_content }}
    {{ header.media }}
    {% for meta in header.metas %}
        meta
    {% endfor %}
    {% endblock %}
</head>
<body>
    {% block body %}

        {% block scripts %}
            {% for script in scripts %}
                script.data
            {% endfor %}
        {% endblock %}
    {% endblock %}
</body>
</html>